@font-face {
	font-family: 'Conv_Handelson-FourCYR';
	src: url('../fonts/Handelson-FourCYR.eot');
	src: url('../fonts/Handelson-FourCYR.woff') format('woff'),
		 url('../fonts/Handelson-FourCYR.ttf') format('truetype'), 
		 url('../fonts/Handelson-FourCYR.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
